// Copy this file to wifi.h and modify with your network data

#ifndef WIFI_H
#define WIFI_H

#define WIFI_SSID "My-Wifi-SSID"
#define WIFI_PASSWORD "My-Wifi-password"

// Assuming:
// 		the IP address of the Pico running a server is 10.0.0.100,
// 		the IP address of the Pico running a client is 10.0.0.101 and
// 		the workstations IP-address is 10.0.0.5:


// For a server that runs on a PICO-W
#define SERVER_PICO_IP	"10.0.0.100"
// For a server that runs on the WORKSTATION
#define SERVER_WS_IP	"10.0.0.5"

// Client on a PICO-W
#define CLIENT_IP		"10.0.0.101"

// The netmask
#define NETMASK			"255.255.255.0"

// Both server and client on the same subnet, no gateway needed
#define GATEWAY			"255.255.255.255" // IP address none

#endif //WIFI_H
